<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @my_thread.title %>
</p>
<% if @my_thread.comments.any? %>
<ul>	
	<% @my_thread.comments.each do |comment| %>
		<li>
			<%= comment.body %>	
			<%= link_to "Edit", edit_my_thread_comment_path(@my_thread.id,comment.id)%>	
			<%= link_to "Delete",
			my_thread_comment_path(@my_thread.id,comment.id),
			method: :delete,
			data: { confirm: "Sure?" }%>	 
		</li>
	<% end %>
</ul>
<% end %>
<h3>New Comment</h3>

<%= form_for ([@my_thread, @my_thread.comments.build]) do |f| %>
<p>
<%= f.text_area :body %> 
</p>
<p>
  <%= f.submit %>
</p>
<% end %>


<%= link_to 'Edit', edit_my_thread_path(@my_thread) %> |
<%= link_to 'Back', my_threads_path %>
